//  Color 
$color-main: #f54c4c;
$color-gray: #eee;
$color-black: #000;
$color-black1: #131313;
$color-grayblack: #333;
// Font size
$font-12: 0.8rem;
$font-13: 0.8667rem;
$font-14: 0.9333rem;
$font-15: 1rem;
$font-16: 1.067rem;
$font-18: 1.2rem;
$font-20: 1.333rem;
$font-25: 1.563rem;
$font-30: 2rem;
$font-40: 2.667rem;
//  Breakpoint
$bp-maw-1440: 'max-width: 1440px';